.box {
    border: 1px solid gainsboro;
    width: 15px;
    height: 15px;

    &:hover {     
        background-color: white;
    }
}

.on {
    background-color: white;
}

.off {
    background-color: black;
}